# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers: The numerical information either in the form of integers or float is described as numbers.

Strings: Textual data marked inside either single or double quotes are Strings.

Lists: A collection of objects such as integers, float, strings, objects, dictionaries etc.

Tuples: They are similar to lists except that they are ordered and immutable.

Dictionaries: A collection of key value pair where items can be retrieved using `key` as index.

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [1]:
10 ** 2 * 2 / 2  + 0.50 - 0.25

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5 
    
    What is the value of the expression 4 + 6 * 5

In [2]:
print('{} {} {}'.format(4 * (6 + 5), 4 * 6 + 5, 4 + 6 * 5))

44 29 34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>
The type is `float`.

What would you use to find a numberâ€™s square root, as well as its square?

In [3]:
# Square root:
4 ** 1/2

2.0

In [4]:
# Square:
4 ** 2

16

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [5]:
s = 'hello'
# Print out 'e' using indexing
s[1]

'e'

Reverse the string 'hello' using slicing:

In [6]:
s ='hello'
# Reverse the string using slicing
s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [7]:
s ='hello'
# Print out the 'o'

# Method 1:
s[4]

'o'

In [8]:
# Method 2:
s[-1]

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [9]:
# Method 1:
[0, 0, 0]

[0, 0, 0]

In [10]:
# Method 2:
[0] * 3

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [11]:
list3 = [1,2,[3,4,'hello']]
list3[2][2] = 'goodbye'
list3

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [12]:
list4 = [5,3,4,6,1]
list4.sort()
list4

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [13]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [14]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [15]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
d['k1'][0]['nest_key'][1][0]

'hello'

In [16]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

Can you sort a dictionary? Why or why not?<br><br>
No, we cannot sort a dictionary directly as the items in a dictionary are not ordered.

## Tuples

What is the major difference between tuples and lists?<br><br>
Tuples are immutable in nature.

How do you create a tuple?<br><br>
Place a list of items inside paranthesis, **(1, 2)**

## Sets

What is unique about a set?<br><br>
All items in a set are unique.

Use a set to find the unique values of the list below:

In [17]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
set(list5)

{1, 2, 3, 4, 11, 22, 33}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [18]:
# Answer before running cell
2 > 3

False

In [19]:
# Answer before running cell
3 <= 2

False

In [20]:
# Answer before running cell
3 == 2.0

False

In [21]:
# Answer before running cell
3.0 == 3

True

In [22]:
# Answer before running cell
4**0.5 != 2

False

Final Question: What is the boolean output of the cell block below?

In [23]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

False

## Great Job on your first assessment!